<style type="text/css">
	.btn-row button{
		display: inline-block;
		margin-left: 20px;
	}
	.btn-row form{
		display: inline-block;
		margin-left: 20px;
	}
</style>
<div class="container-fluid">
	<div class="row btn-row">
	<%= button_to 'Excel Download', transactions_path(:format => :xls), class: 'btn btn-primary' %>
	<a href="/transactions/destroy_all" data-confirm="Clear current chart?"><button class="btn btn-danger">Clear Currenct</button></a>
	</div>
<table class="table table-responsive table-striped">
	<thead>
		<tr>
		<th>Agent ID</th>
		<th>C2GO ID</th>
		<th>Agent Name</th>
		<th>Country</th>
		<th>Upline ID</th>
		<th>Upline Name</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |val| %>
			<tr>
				<td><%= val.evo_id %></td>
				<td><%= val.c2go %></td>
				<td><a href="/users/<%= val.id %>"><%= val.first %> <%= val.last %></a></td>
				<td><%= val.country %></td>
				<td><%= val.upline_id %></td>
				<% @upline = User.find_by(evo_id: val.upline_id) %>
				<% if @upline %>
				<td><%= @upline.first %> <%= @upline.last %></td>
				<% else %>
				<td></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
</div>