<style type="text/css">
	.green{
		color: green;
	}
	.red{
		color: red;
	}
	.header-col h3{
		display: inline-block;
		margin-left: 50px;
	}
	.header-col h2{
		display: inline-block;
	}
	.payout{
		margin-bottom: 20px;
	}
</style>
<% @total = BigDecimal.new("0") %>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 header-col">
			<h2><%= @user.first %> <%= @user.last %></h2>
			<h3>Evo ID: <%= @user.evo_id %></h3>
			<h3>Upline: <a href="/users/<%= @upline_user.id %>"><%= @upline_user.first %> <%= @upline_user.last %></a></h3>
 			<% if @user.c2go %>
				<h3>C2GO ID: <%= @user.c2go %></h3>
			<% end %>
		</div>
	</div>
	<h3>Pending Commission Payouts:</h3>
	<table class="table table-responsive table-striped">
		<thead>
			<tr>
			<th>Invoice</th>
			<th>Traveler</th>
			<th>Itinerary</th>
			<th>Commission Total</th>
			<th>Evolution Commission</th>
			<th>Upline Commission</th>
			<th>Agent Commission</th>
			</tr>
		</thead>
		<tbody>
			<% @pending.each do |val| %>
				<% if val.commission_total != 0 %>
					<tr>
					<td><%= val.invoice %></td>
					<td><%= val.traveler %></td>
					<td><%= val.itinerary %></td>
					<td><%= number_to_currency(val.commission_total) %></td>
					<td><%= number_to_currency(val.evo_total) %></td>
					<td><%= number_to_currency(val.upline_total) %></td>
					<td class="green"><%= number_to_currency(val.agent_total) %></td>
					<% @total += BigDecimal.new(val.agent_total).round(2) %>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
	<h3>Pending Upline Payouts:</h3>
	<% if @upline.length > 0 %>
	<table class="table table-responsive table-striped">
		<thead>
			<tr>
			<th>Invoice</th>
			<th>Traveler</th>
			<th>Itinerary</th>
			<th>Commission Total</th>
			<th>Evolution Commission</th>
			<th>Agent Commission</th>
			<th>Upline Commission</th>
			</tr>
		</thead>
		<tbody>
			<% @upline.each do |val| %>
				<% if val.commission_total != 0 %>
					<tr>
					<td><%= val.invoice %></td>
					<td><%= val.traveler %></td>
					<td><%= val.itinerary %></td>
					<td><%= number_to_currency(val.commission_total) %></td>
					<td><%= number_to_currency(val.evo_total) %></td>
					<td><%= number_to_currency(val.agent_total) %></td>
					<td class="green"><%= number_to_currency(val.upline_total) %></td>
					<% @total += BigDecimal.new(val.upline_total).round(2) %>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
	<% else %>
	<h5>No Upline Payouts Found</h5>
	<% end %>
	<h3>Pending Recalls/Holds:</h3>
	<% if @holds_pending.length > 0 %>
	<table class="table table-responsive table-striped">
		<thead>
			<tr>
			<th>Retain</th>
			<th>Invoice</th>
			<th>Traveler</th>
			<th>Itinerary</th>
			<th>Method</th>
			<th>Evolution Commission</th>
			<th>Upline Commission</th>
			<th>Paid Agent</th>
			</tr>
		</thead>
		<tbody>
			<% @holds_pending.each do |val| %>
					<tr>
					<td><input type="checkbox" class="retain_check" value="<%= val.id %>"></td>
					<td><%= val.invoice %></td>
					<td><%= val.traveler %></td>
					<td><%= val.itinerary %></td>
					<td><%= val.method %></td>
					<td><%= number_to_currency(val.upline) %></td>
					<td><%= number_to_currency(val.upline) %></td>
					<% if val.paid_agent > 0 %>
					<td class="red">+<%= number_to_currency(val.paid_agent) %></td>
					<% else %>
					<td class="red"><%= number_to_currency(val.paid_agent) %></td>
					<% end %>
						<% @total += BigDecimal.new(val.paid_agent).round(2) %>
					</tr>
			<% end %>
		</tbody>
	</table>
	<% else %>
	<h5>No Recalls/Holds Found</h5>
	<% end %>
	<div class="payout">
		<% if @total > 0 %>
		<h3>Payout Ammount: <span class="green"><%= number_to_currency(@total.round(2)) %></span></h3>
		<% else %>
		<h3>Payout Ammount: <span class="red"><%= number_to_currency(@total.round(2)) %></span></h3>
		<% end %>
		<% if !@user.processed %>
			<form action="/users/process" accept-charset="UTF-8" method="post" class="form-vertical">
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<input name="retain_ids" type="hidden" id="retain_ids">
			<input name="user_id" type="hidden" value="<%= @user.id %>">
				<button class="btn btn-primary" data-confirm="Process?">Process</button>
			</form>
		<% else %>
			<h3 class="green">Processed</h3>
			<a href="/users/unprocess/<%= @user.id %>" data-confirm="Mark as unprocessed?"><button class="btn btn-danger">Re-Open</button></a>
		<% end %>
	</div>
</div>

<script type="text/javascript">
	$( document ).on('turbolinks:load', function() {
		var retain_ids_arr = [];
		$('.retain_check').click(function(){
			if($(this).is(':checked')){
				console.log($(this).val());
				retain_ids_arr.push($(this).val());
				$('#retain_ids').val(JSON.stringify(retain_ids_arr));
			}
			else{
				var i = retain_ids_arr.indexOf($(this).val());
				retain_ids_arr.splice(i, 1);
				$('#retain_ids').val(JSON.stringify(retain_ids_arr));
				console.log("remove value");
			}
		})
	})
</script>