<style type="text/css">
	.btn-row button{
		display: inline-block;
		margin-left: 20px;
	}
	.btn-row form{
		display: inline-block;
		margin-left: 20px;
	}
	.red{
		min-width: 120px;
	}
	th{
		min-width: 101px;
		padding-top: 0px;
	}
	th a{
		display: block;
	}
	.head{
		display: inline-block;
		margin-top: 20px;
	}
	.arrows{
		display: inline-block;
		float: right;
	}
	.table-header-fixed{
		position: fixed;
		background: white;
	}
	.btn-row{
/*		position: fixed;
		background: white;*/
	}
	tbody{
		/*margin-top: 200px;*/
	}
	.commission-total{
		min-width: 152px;
	}
	.agent-total{
		min-width: 160px;
	}
	.upline-total{
		min-width: 163px;
	}
	.evo-total{
		min-width: 187px;
	}
</style>
<div class="container-fluid">
<table class="table table-responsive table-striped">
	<thead>
		<tr class="table-header">
		<th><span class="head">Key</span><span class="arrows"><a href="/key/up"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a><a href="/key/down"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a></span></th>
		<th><span class="head">Invoice</span><span class="arrows"><a href="/invoice/up"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a><a href="/invoice/down"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a></span></th>
		<th><span class="head">Agent ID</span><span class="arrows"><a href="/agent_id/up"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a><a href="/agent_id/down"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a></span></th>
		<th>C2GO</th>
		<th><span class="head">Issue Date</span><span class="arrows"><a href="/issue_date/up"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a><a href="/issue_date/down"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a></span></th>
		<th><span class="head">Itinerary</span><span class="arrows"><a href="/itinerary/up"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a><a href="/itinerary/down"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a></span></th>
		<th>Active Agent</th>
		<th>Agent Name</th>
		<th>Upline ID</th>
		<th>Upline Name</th>
		<th class="commission-total"><span class="head">Commission Total</span><span class="arrows"><a href="/commission_total/up"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a><a href="/commission_total/down"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a></span></th>
		<th class="agent-total"><span class="head">Agent Commission</span><span class="arrows"><a href="/agent_total/up"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a><a href="/agent_total/down"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a></span></th>
		<th class="upline-total"><span class="head">Upline Commission</span><span class="arrows"><a href="/upline_total/up"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a><a href="/upline_total/down"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a></span></th>
		<th class="evo-total"><span class="head">Evolution Commission</span><span class="arrows"><a href="/evo_total/up"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a><a href="/evo_total/down"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a></span></th>
		<th>Processed</th>
		</tr>
	</thead>
	<tbody>
		<% @transactions.each do |val| %>
			<% if val.commission_total != 0 %>
				<tr>
				<% @user = User.find_by(evo_id: val.agent_id) %>
				<td><%= val.key %></td>
				<td><%= val.invoice %></td>
				<td><%= val.agent_id %></td>
				<td><%= @user.c2go %></td>
				<% if val.issue_date %>
				<td><%= val.issue_date.strftime("%m/%d/%y") %></td>
				<% else %>
				<td></td>
				<% end %>
				<td><%= val.itinerary %></td>
				<td><%= @user.active %></td>
				<td><a href="/users/<%= @user.id %>"><%= @user.first %> <%= @user.last %></a></td>
				<td><%= val.upline_id %></td>
				<% @upline = User.find_by(evo_id: val.upline_id) %>
				<% if @upline %>
				<td><%= @upline.first %> <%= @upline.last %></td>
				<% else %>
				<td></td>
				<% end %>
				<td><%= number_to_currency(val.commission_total) %></td>
				<td><%= number_to_currency(val.agent_total) %></td>
				<td><%= number_to_currency(val.upline_total) %></td>
				<td><%= number_to_currency(val.evo_total) %></td>
				<% if @user.processed %>
					<td class="green">Processed</td>
				<% else %>
					<td class="red">Not Processed</td>
				<% end %>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>
</div>