<style type="text/css">
	.btn-row button{
		display: inline-block;
		margin-left: 20px;
	}
	.btn-row form{
		display: inline-block;
		margin-left: 20px;
	}
	.red{
		min-width: 120px;
	}
</style>
<div class="container-fluid">
	<div class="row btn-row">
	<%= button_to 'Excel Download', transactions_path(:format => :xls), class: 'btn btn-primary' %>
	<a href="/transactions/destroy_all" data-confirm="Clear current chart?"><button class="btn btn-danger">Clear Currenct</button></a>
	</div>
<table class="table table-responsive table-striped">
	<thead>
		<tr>
		<th>Key</th>
		<th>Invoice</th>
		<th>Agent ID</th>
		<th>C2GO ID</th>
		<th>Issue Date</th>
		<th>Itinerary</th>
		<th>Agent Name</th>
		<th>Upline ID</th>
		<th>Upline Name</th>
		<th>Commission Total</th>
		<th>Agent Commission</th>
		<th>Upline Commission</th>
		<th>Evolution Commission</th>
		<th>Processed</th>
		</tr>
	</thead>
	<tbody>
		<% @transactions.each do |val| %>
			<% if val.commission_total != 0 %>
				<tr>
				<% @user = User.find_by(evo_id: val.agent_id) %>
				<td><%= val.key %></td>
				<td><%= val.invoice %></td>
				<td><%= val.agent_id %></td>
				<td><%= @user.c2go %></td>
				<% if val.issue_date %>
				<td><%= val.issue_date.strftime("%m/%d/%y") %></td>
				<% else %>
				<td></td>
				<% end %>
				<td><%= val.itinerary %></td>
				<td><a href="/users/<%= @user.id %>"><%= @user.first %> <%= @user.last %></a></td>
				<td><%= val.upline_id %></td>
				<% @upline = User.find_by(evo_id: val.upline_id) %>
				<% if @upline %>
				<td><%= @upline.first %> <%= @upline.last %></td>
				<% else %>
				<td></td>
				<% end %>
				<td><%= number_to_currency(val.commission_total) %></td>
				<td><%= number_to_currency(val.agent_total) %></td>
				<td><%= number_to_currency(val.upline_total) %></td>
				<td><%= number_to_currency(val.evo_total) %></td>
				<% if @user.processed %>
					<td class="green">Processed</td>
				<% else %>
					<td class="red">Not Processed</td>
				<% end %>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>
</div>