<!DOCTYPE html>
<html>
  <head>
    <title>Evolution Commission Calculator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<style type="text/css">
	.green{
		color: green;
	}
	.red{
		color: red;
	}
	td{

	}
	.yield-span>.container{
		margin-top: 60px;
	}
	.yield-span>.container-fluid{
		margin-top: 60px;
	}
</style>
  </head>

  <body>
      <!-- Static navbar -->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Evolution Commission Calculator</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
			<div class="pull-right">
				<form class="navbar-form" role="search" method="post" action="/users/search">
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search by ID" name="id" id="srch-term">
					<div class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
					</div>
				</div>
				</form>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/transactions/destroy_all" data-confirm="Clear current chart?"><button class="btn btn-danger">Clear Currenct</button></a></li>
              <li><a><%= button_to 'Excel Download', transactions_path(:format => :xls), class: 'btn btn-primary' %></a></li>
              <!-- <li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li> -->
              <li><a href="/">Import Data</a></li>
              <li><a href="/transactions">Commissions</a></li>
              <li><a href="/holds">Recalls & Holds</a></li>
              <li><a href="/international">International</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
<span class="yield-span">
<% if flash[:imported] %>
   <div class="container-fluid">
	  	<div class="row">
	  		<div class="col-sm-12">
			  	<h5><%= flash[:imported] %></h5>
		  	</div>
	  	</div>
	</div>
<% end %>
    <%= yield %>
</span>
  </body>
</html>
